<% if @measurement_unit.errors.any? %>
	<li>
		<div id="error_explanation">
		  <h2><%= pluralize(@measurement_unit.errors.count, "error") %> prohibited this entity from being saved:</h2>
		
		  <ul>
		  <% @measurement_unit.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		  <% end %>
		  </ul>
		</div>
	</li>
<% end %>

<li class="li-content">
	<%= form_for([:system, @measurement_unit]) do |f| %>		
		<%= toolbar({:save => true, :scanners_menu => true, :reports_menu => true, :browse_menu => true, :cancel => true, :index => true, :maintenance_menu => true}) %>			
		<div class="li-content">
			<table class="ft">
				<thead>
					<tr>
						<th class="label" </th>
						<th class="input" </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<%= f.label :description,'Description' %>
						</td>
						<td>
							<%= f.text_field(:description, :required => true ) %>
						</td>
					</tr>
					<tr>
						<td>
							<%= f.label :abbreviation,'Abbreviation' %>
						</td>
						<td>
							<%= f.text_field(:abbreviation, :required => true ) %>
						</td>
					</tr>

					<tr>
						<td>
							<%= f.label :gallon_equivalent,'Gallon Equivalent' %>
						</td>
						<td>
							<%= f.text_field(:gallon_equivalent, :required => true ) %>
						</td>
					</tr>
					
				</tbody>
			</table>
			<div style="clear:both"> </div>		
			
		</div>
	<% end %>
</li>


