<%= form_for([:system, @record], :remote => true) do %>
<div>
	<%= submit_tag("Save", :class => "save left") %>
	<%= button_tag "Cancel",:type => 'button',:class => "cancel left" %>
</div>
<table class="popup jqxValidator">
	<tbody>
		<tr>
			<th colspan="4"> <h3> Details </h3> </th>			
		</tr>

		<tr>
			<td>	<b> Description </b>	</td>
			<td>	
				<%= text_field(:entity, :description, :class => 'required') %>			
			</td>
			<td> <b> Entity Mode </b> </td>
			<td>		
				<%= text_field(:entity, :mode, :class => '') %>			
			</td>
		</tr>
<!--
		<tr>

			<td>	</td>
			<td>	</td>
			<td>
				<b> Admin Email </b>
			</td>
			<td>
				<input type="text" id="admin_user_email" class="jqxInput" data-role="none" />
			</td>


		</tr>

		<tr>
			<td>
				<b> Password </b>
			</td>
			<td>
				<input type="password" class="jqxInput" id="password" data-role="none" />	
			</td>
			<td>
				<b> Password Confirmation </b>
            </td>
            <td>
				<input type="password" id="password_confirmation" class="jqxInput" data-role="none" />
          	</td>	
		</tr>
-->	
		<tr>
			<td>
				<b> Address Name </b>

			</td>
			<td>
				<%= text_field(:entity, :name, :class => '') %>								
			</td>
			<td>	
				<b> Street </b>

			</td>
			<td>
				<%= text_field(:entity, :street, :class => '') %>							
			</td>

		</tr>
		<tr>
			<td>
				<b> City </b>
			</td>
			<td>
				<%= text_field(:entity, :city, :class => '') %>			
				
			</td>
			<td>
				<b> State </b>
			</td>
			<td>
				<%= text_field(:entity, :state, :class => '') %>			
				
			</td>
		</tr>
		<tr>
			<td>	</td>
			<td>	</td>
			<td>
				<b> Zip </b>
			</td>
			<td>
				<%= text_field(:entity, :zip, :class => '') %>			
			</td>
		</tr>
		<tr>
			<td>
				<b> KegTracker Rate </b>				
			</td>
			<td>
				<%= text_field(:entity, :kt_rate, :class => '') %>						
			</td>
		</tr>
	</tbody>
</table>	
<% end %>