<li class="toolbar">
	<div data-role="controlgroup" data-type="horizontal" data-mini="true">					
		<%= link_to "New Entity", new_system_entity_path, :class => "toolbar-action", 'data-role' => :button, 'data-icon' => :plus %>		
	</div>
</li>
<li class="li-table">
	<table class="dt">
		<thead>
		  <tr>
			<th>Description</th>
			<th>Name</th>
			<th>Street</th>
			<th>City</th>
			<th>State</th>
			<th>Zip</th>
			<th>Distributor</th>
			<th>Brewer</th>			
			<th>		</th>
		  </tr>
		</thead>
		<tbody>
			<% @entity.each do |entity| %>
			  <tr>
			  	<td> <%= entity.description %> </td>
				<!-- Address Info -->
			  	<td> <%= entity.name %> </td>
			  	<td> <%= entity.street %> </td>			  	
			  	<td> <%= entity.city %> </td>			  				  	
			  	<td> <%= entity.state %> </td>			  				  	
			  	<td> <%= entity.zip %> </td>			  				  				  	
			  	<td> <%= entity.distributor == true ? "√" : "X" %> </td>
				<td> <%= entity.brewery == true ? "√" : "X" %> </td>
				<td>	
					<%=	 link_to 'Show', [:system, entity] %>
					<%=	 link_to 'Edit', edit_system_entity_path(entity) %>
					<%=	 link_to 'Destroy', [:system, entity], confirm: 'Are you sure?', method: :delete %>								
				</td>
			  </tr>
			<% end %>
		</tbody>
	</table>
</li>		
<li>

</li>
