<li class="toolbar">
	<div data-role="controlgroup" data-type="horizontal" data-mini="true">					
		<%= link_to "Back", system_entities_path, :class => "toolbar-action", 'data-role' => :button, 'data-icon' => 'arrow-l' %>		
	</div>
</li>

<% if @entity.errors.any? %>
	<li>
		<div id="error_explanation">
		  <h2><%= pluralize(@entity.errors.count, "error") %> prohibited this entity from being saved:</h2>
		
		  <ul>
		  <% @entity.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		  <% end %>
		  </ul>
		</div>
	</li>
<% end %>

<li>
	<%= form_for([:system, @entity]) do |f| %>		
		<table class="ft">
			<thead>
				<tr>
					<th class="label" </th>
					<th class="input" </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="2"><h1> Account: </h1>	</td>
				</tr>
			
				<tr>
					<td>
						<%= f.label :description,'Name:' %>
					</td>
					<td>	
						<%= f.text_field(:description, :required => true ) %>
					</td>								
				</tr>

				<tr>
					<td>
						<%= label_tag(:distributor,'Entity Type:', :class => 'ui-select') %>
					</td>
					<td>	
						<div data-role="controlgroup" data-type="horizontal" data-mini="true">
							<%= f.label :distributor, 'Distributor' %>
							<%= f.check_box(:distributor, {}, 1, 0) %>

							<%= f.label :brewery, 'Brewery' %>
							<%= f.check_box(:brewery, {}, 1, 0) %>							
						</div>
					</td>								
				</tr>
				<tr>
					<td colspan="2"><br /><h1> Admin Account: </h1>	</td>
				</tr>
				
				<tr>
					<td>
						<%= label_tag :email, 'E-Mail:', :class => 'ui-input-text' %>
					</td>					
					<td>
						<%= text_field :user, :email, :required => true  %>
					</td>					
				</tr>
				<tr>
					<td>
						<%= label_tag :password, 'Password:', :class => 'ui-input-text' %>
					</td>					
					<td>
						<%= password_field :user, :password, :required => true  %>
					</td>					
				</tr>				
				<tr>
					<td>
						<%= label_tag :password_confirmation, 'Confirm Password:', :class => 'ui-input-text' %>
					</td>					
					<td>
						<%= password_field :user, :password_confirmation, :required => true  %>
					</td>					
				</tr>				
				
				<tr>
					<td colspan="2"><br /><h1> Address: </h1>	</td>
				</tr>
				
				<tr>
					<td>	<%= f.label :name, 'Name:'  %>	</td>
					<td>	<%= f.text_field :name, 'class' => 'input textfield' %> 	</td>								
				</tr>
				<tr>
					<td>	<%= f.label :street, 'Street:'  %>	</td>
					<td>	<%= f.text_field :street, 'class' => 'input textfield' %> 	</td>								
				</tr>
				
				<tr>
					<td>	<%= f.label :city, 'City:'  %>	</td>
					<td>	<%= f.text_field :city, 'class' => 'input textfield' %> 	</td>							
				</tr>
				<tr>
					<td>	<%= f.label :state, 'State:'  %>	</td>
					<td>	<%= f.text_field :state, 'class' => 'input textfield' %> 	</td>								
				</tr>
				<tr>
					<td>	<%= f.label :zip, 'Zip:'  %>	</td>
					<td>	<%= f.text_field :zip, 'class' => 'input textfield' %>	</td>				
				</tr>
				
			</tbody>
		</table>
	  <div class="actions">
		<%= f.submit %>
	  </div>
	<% end %>
</li>