<li class="toolbar">
	<div data-role="controlgroup" data-type="horizontal" data-mini="true">					
		<%= link_to "Entity List", :system_entities, :class => "toolbar-action", 'data-role' => :button, 'data-icon' => 'arrow-l' %>		
	</div>
</li>
<li> 
	<h6>
		Entity: <%= @entity.description %>
	</h6>
</li>
<li data-role="list-divider">
	Users:
</li>
<li class="li-table">
	<table class="dt">
		<thead>
			<tr>
				<th> Email 	 </th>
				<th> Entity 	 </th>
				<th> Last Login </th>				
				<th> Created At </th>								
				<th>			 </th>				
			</tr>
		</thead>
		<tbody>
	 		<% @users.each do |user| %>		
				<tr>
					<td><%= user.email %>	</td>
					<td><%= user.entity.description %>	</td>
					<td><%= user.last_sign_in_at %> </td>
					<td><%= user.remember_created_at %>	</td>							
					<td>						
						<%= link_to 'Show' , maintenance_user_path(user) %>
						<%= link_to 'Edit', edit_maintenance_user_path(user) %>
						<%= link_to 'Destroy', maintenance_user_path(user), confirm: 'Are you sure?', method: :delete %>			
					</td>					
				</tr>
			<% end %>
		</tbody>
	</table>		
</li>
<li> <br /> </li>
<li data-role="list-divider">
	Products:
</li>
<li class="li-table">
	<table class="dt">
		<thead>
			<tr>
				<th> Product 	</th>
				<th> Brewer 	</th>
				<th> Product # 	</th>								
				<th> Assets		</th>
				<th> UPC 		</th>												
				<th>  	 		</th>
			</tr>
		</thead>
		<tbody>
	 		<% @products.each do |product| %>		
				<tr>
					<td> <%= product.description %>	</td>
					<td> <%= product.entity.description %>	</td>
					<td> <%= product.externalID %>	</td>
					<td> 									
						<% AssetType.each do |asset_type| %>
							<%= asset_type.description %>:
							<%= product.assets.where(:asset_type => asset_type).count %>	
							<br />							
						<% end %>
					</td>
					<td> <%= product.upc %>	</td>

					<td>
					
					</td>					
				</tr>
			<% end %>
		</tbody>
	</table>		
</li>
<li> <br /> </li>
<li data-role="list-divider">
	Networks:
</li>
<li class="li-table">
	<table class="dt">
		<thead>
			<tr>
				<th> Network 	 </th>
				<th> Net ID 	 </th>
				<th> Tag Count 	 </th>								
				<th> # Members 	 </th>												
				<th> # Locations	 	 </th>																
				<th>  	 </th>
			</tr>
		</thead>
		<tbody>
	 		<% @networks.each do |network| %>		
				<tr>
					<td> <%= network.description %>	</td>				
					<td> <%= network.netid %>	</td>				
					<td> <%= network.tagCounter %>	</td>
					<td> <%= network.network_memberships.count %>	</td>
					<td> <%= network.locations.count %>	</td>
					<td>							
					</td>					
				</tr>
			<% end %>
		</tbody>
	</table>		
</li>
<li>
	<br />
</li>


<li>
	<div>	
	</div>
</li>