<div id="simple_container" class="dashboard content">
	<h1> <%= current_user.entity.description %> </h1>
	<div class="dashboard button-group">					
		<h2> Scanning </h2>
		<%= link_to '<h3> Barcode Scanner </h3>'.html_safe, :scanners_barcode, :class => "dashboard button left" %> 

		<%= link_to '<h3> RFID Reader </h3>'.html_safe, :scanners_rfid_readers, :class => "dashboard button left" %> 

		<a href="#" class="dashboard button left"> <h3> Order Barcodes <h3> <h4> (Comming Soon) </h4></a>
	</div>
		
	<div class="dashboard button-group">
		<h2> Reports</h2>	
		<%= link_to '<h3> Asset Cycles </h3> <h4> by Distribution Channel</h4>'.html_safe, :reports_float_asset_fill_to_fill_cycle_fact_by_delivery_network, :class => "dashboard button left" %> 
		<%= link_to '<h3> Asset Cycles</h3><h4> by Production Channel </h4>'.html_safe, :reports_float_asset_fill_to_fill_cycle_fact_by_fill_network, :class => "dashboard button left" %> 

		<%= link_to '<h3> Activity </h3>'.html_safe, :reports_float_activity_summary_report_simple, :class => "dashboard button left" %> 

		<%= link_to '<h3> Network Scorecard </h3>'.html_safe, :reports_network_performance_scorecard_report, :class => "dashboard button left" %> 
		
		<%= link_to '<h3> Inventory Report </h3>'.html_safe, :reports_asset_sku_summary_report_simple, :class => "dashboard button left" %> 
	</div>
	<div class="dashboard button-group">
		<h2> Browse / Lookup</h2>	
		<%= link_to '<h3> Invoice Lookup </h3>'.html_safe, :reports_invoice_lookup, :class => "dashboard button left" %> 

		<%= link_to '<h3> Assets </h3>'.html_safe, :reports_asset_browse, :class => "dashboard button left" %> 
		<%= link_to '<h3> My Locations </h3>'.html_safe, :reports_location_browse, :class => "dashboard button left" %> 	
	</div>


	<div class="dashboard button-group">
		<h2> Maintenance </h2>
		<%= link_to '<h3> Locations </h3>'.html_safe, :maintenance_locations, :class => "dashboard button left" %> 
			
		<%= link_to '<h3> Networks </h3>'.html_safe, :maintenance_networks, :class => "dashboard button left" %> 
			
		<%= link_to '<h3> Distributors </h3>'.html_safe, :reports_float_asset_fill_to_fill_cycle_fact_by_delivery_network, :class => "dashboard button left" %> 					

		<%= link_to '<h3> Users </h3>'.html_safe, :maintenance_users, :class => "dashboard button left" %> 
		<%= link_to '<h3> Products </h3>'.html_safe, :maintenance_products, :class => "dashboard button left" %> 		

		<%= link_to '<h3> Contracted Breweries </h3>'.html_safe, :maintenance_production_partnerships, :class => "dashboard button left" %> 		


	</div>				

	<div id="dashboard_slot_2" class="hidden">
		<div> 
			Recent Activity
		</div>
		<div id='dashboard_slot_2_content'>								
		</div>
	
	</div>				
</div>