<%= form_for([:maintenance, @record], :url => maintenance_overdue_assets_path, :remote => true) do %>
<div>
	<%= submit_tag("Save", :class => "save left") %>
	<%= button_tag "Cancel",:type => 'button',:class => "cancel left" %>
</div>

<table class="popup">
	<tbody>
		<tr>
			<th colspan="4"> <h3> Current Life Cycle </h3> </th>			
		</tr>
		<tr>
			<td>	
				<b> Product </b>	
			</td>

			<td>
				<%= select(:overdue_asset, :product_id, @products.map{|x| [x.description, x._id]}, :include_blank => true, :class => 'required') %>						
			</td>
			<td>	
				<b> Brewery </b>	
			</td>

			<td>	
				<%= select(:overdue_asset, :product_entity_id, @product_entities.map{|x| [x.description, x._id]}, :include_blank => true, :class => 'required') %>						
			</td>
		</tr>				
		<tr>
			<td> 
				<b> Fill Count</b>
			</td>
			<td>
				<%= text_field(:overdue_asset, :fill_count, :class => '') %>				
			</td>
			<td>	<b>  Last Scene </b> </td>
			<td>
				<%= date_select(:overdue_asset, :last_action_time, {:order => [:month, :day, :year]}, {:class => "date"} ) %>				
			</td>
		</tr>
		<tr>
			<th colspan="4"> <h3> Asset Details </h3> </th>			
		</tr>

		<tr>	
			<td>	
				<b> Asset Type </b>	 	
			</td>
			
			<td>
				<%= select(:overdue_asset, :asset_type_id, @asset_types.map{|x| [x.description, x._id]}, :include_blank => true, :class => 'required') %>						

				<div id="asset_type_id" class="jqxDropDownList">	</div>
			</td>		

	
			<td>	
				<b> Asset Owner </b>	 	
			</td>
			
			<td>	
				<%= select(:overdue_asset, :entity_id, @entities.map{|x| [x.description, x._id]}, :include_blank => true, :class => 'required') %>						

			</td>		
		</tr>				
		<tr>
			<td> 
				<b> Tag Value </b>
			</td>
			<td>
				<%= text_field(:overdue_asset, :tag_value, :class => '', disabled: true) %>				

			</td>
			
			<td> 
				<b> Tag Key </b>
			</td>			
			<td>
				<%= text_field(:overdue_asset, :tag_key, :class => '', disabled: true) %>		
				
			</td>			

		</tr>
		<tr>
			<td> 
				<b>Net ID </b>
			</td>
			<td>
				<%= text_field(:overdue_asset, :netid, :class => '', disabled: true) %>		
			</td>
		</tr>
		<tr>
			<th colspan="4"> <h3> Invoice Details </h3> </th>			
		</tr>
		<tr>
			<td> 
				<b> Invoice # </b>
			</td>
			<td>

				<%= text_field(:overdue_asset, :invoice_number, :class => '') %>		
				
			</td>
			<td> 
				<b> Date</b>
			</td>
			<td>
				<%= date_select(:invoice, :date, {:order => [:month, :day, :year], :include_blank => true}, {:class => "date", disabled:true} ) %>
			</td>
		</tr>
	</tbody>
</table>	
<% end %>




