<% if @barcode_maker.errors.any? %>
	<li>	  
		<div id="error_explanation">
		  <h2><%= pluralize(@barcode_maker.errors.count, "error") %> prohibited this barcode_maker from being saved:</h2>
			<ul>
			  <% @barcode_maker.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			  <% end %>
			</ul>
		</div>
	</li>
<% end %>


<!-- Form Entry Fields -->
<li class="li-content">
	<%= form_for([:maintenance, @barcode_maker]) do |f| %>		
		<%= toolbar({:save => true, :scanners_menu => true, :reports_menu => true, :browse_menu => true, :cancel => true, :index => true, :maintenance_menu => true}) %>		
		<div class="li-content">
			<table class="ft">
				<thead>
					<tr>
						<th class="label"> </th>
						<th class="input"> </th>										
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>	<%= f.label :network_id, 'Network' %>	</td>
						<td> 	<%= f.select(:network_id, options_for_select(@networks), {}) %> </td>
					</tr>
	
					<tr>
						<td>	<%= f.label :layout, 'Layout' %>	</td>
						<td> 	<%= f.select(:layout, options_for_select([['Wasp', true]], 1), {}) %> </td>
					</tr>
					<tr>
						<td>	<%= f.label :count, 'Quantity' %>	</td>
						<td> 	<%= f.number_field(:count) %> 		</td>
					</tr>				
				</tbody>
			</table>		
			<div style="clear:both"> </div>		
		</div>
	<% end %>
</li>

