<%= title(:Maintenance, current_user) %>
<li class="toolbar">
	<div data-role="controlgroup" data-type="horizontal" data-mini="true">					
	
	</div>
</li>
<li>
	<div>
		<div class="box-button">
			<div>
				<%= link_to image_tag('users.png', :width => '100%'), :maintenance_users %>			
				
			</div>
			<div style="margin:5px 0px 15px 0px;"> Users </div>
	
		</div>
		
		<div class="box-button">
			<div>
				<%= link_to image_tag('network.png', :width => '100%'), :maintenance_network_memberships, :width => '100%' %>			
			</div>
			<div style="margin:5px 0px 15px 0px;"> Networks </div>
		</div>
		
		<div class="box-button">
			<div>
				<%= link_to image_tag('building.png', :width => '100%'), :maintenance_locations %>
			</div>
			<div style="margin:5px 0px 15px 0px;"> Locations </div>
		</div>
	
		<div class="box-button">
			<div>
				<%= link_to image_tag('beer.png', :width => '100%'), :maintenance_products %>			
			</div>
			<div style="margin:5px 0px 15px 0px;"> Products </div>
		</div>
	
		<div class="box-button">
			<div>
				<%= link_to image_tag('printer.png', :width => '100%'), '' %>			
			</div>
			<div style="margin:5px 0px 15px 0px;"> Barcodes </div>
		</div>

	</div>
	<div style="clear:both; height:15px;"> </div>

</li>

