<style>
	h1 {

	}


	h3 {
		margin:10px 0 5px 50px; 	
	}


	#upper_table table {
		width:100%;
	}


	#upper_table td {		
		padding:0 10px;
		vertical-align: top;
		
	}

	#lower_table table {
		width:100%;
		
	}


	#lower_table td {
		width:24%;
		padding:0 2%;
		vertical-align: top;
		text-align: center;
	}


	h1, p {
		margin: 10px 0;
		padding: 0;
	}


	p{
		line-height: 200%;
		text-align: justify; 
	}


	ul {
		margin:5px inherit;
		list-style: upper-roman;
	}


	li {
		padding: 5px 0;
	}

</style>
<div id="content_header">

	<%= link_to image_tag('brewery_apps_logo.png', :style => 'width:100px; float:left;'), :public_home  %>
	<h1 class="page_title">	
		<span class="left">
	    	Brewery Apps
	    </span>
		<span class="right">
	    	Welcome
	    </span>		
	</h1>
	<%= public_menu %>
	<div style="clear:both"></div>	
</div>

<div id="content_body">
	<div style="display:inline-block; clear:both; width:100%;">
		<div style="width:70%; float:left">
			<h1> <%= link_to('Keg Tracker', :public_products) %>  </h1>
			<ul>
				<li>  Find out how long each SKU takes to complete a life cycle		</li>
				<li>  Know exactly what kegs are at what distributor with what product 		</li>
				<li> Track assets by Batch Number, Delivery Invoice, Fill Date, Product, and much more </li>
				<li> <%= link_to 'iOS', 'https://itunes.apple.com/us/app/kegtracker/id630701415?mt=8' %> & <%= link_to 'Android', 'https://play.google.com/store/apps/details?id=com.breweryapps.KegTracker&feature=search_result#?t=W251bGwsMSwxLDEsImNvbS5icmV3ZXJ5YXBwcy5LZWdUcmFja2VyIl0.' %> Mobile Apps </li>
				<li> Only $0.04/ce/month - <%= link_to('sign up now', :public_join_index) %> 	</li>
			</ul>
			
			<h1> <%= link_to('Keg Registration', :public_products) %>  </h1>
			<ul>
				<li> Keep track of exactly how many kegs you have	</li>
				<li> Register your kegs so consumers, distributors, and other brewers can find your contact information when they find your lost keg	</li>
				<li> Use Keg Tracker <%= link_to 'iOS', 'https://itunes.apple.com/us/app/kegtracker/id630701415?mt=8' %> or <%= link_to 'Android', 'https://play.google.com/store/apps/details?id=com.breweryapps.KegTracker&feature=search_result#?t=W251bGwsMSwxLDEsImNvbS5icmV3ZXJ5YXBwcy5LZWdUcmFja2VyIl0.' %> app to scan your kegs in </li>
				<li> Free 1 time registration - <%= link_to('sign up now', :public_join_index) %> 	</li>
		</div>

		<div style="text-align:left; margin:20px 0 0 0; padding:5px; float:right;">		
			<div>
				<h3 style="padding:0; margin: 5px 0">
					Find a lost keg's owner
				</h3>
				<input type="text" placeholder="Coming Soon" id="find_keg_input" style="width:100%" />
				<br />
				<button class="jqxButton" style="float:right; margin:5px 0px;"> Search </button>
			</div>

			<div style="padding:10px; margin:20px 0 0 0 ; width:225px; float:right; background:#333;">
				<%= image_tag('kegimage.png', :style => 'width:100%') %>
			</div>					

		</div>

<!--		
		<table id="upper_table">
			<tr>
				<td>  
					<div style="width:525px"> 
						<h1> 	Do you know 						</h1>
						<h3> 	WHO your KEGS are hanging out with? </h3>
						<h3>	WHAT your KEGS have been doing?		</h3>
						<h3>	WHERE your KEGS are?				</h3>
						<h3>	WHEN your KEGS go out?				</h3>
						<h3>	WHY are your KEGS missing?			</h3>
					</div>
					<h2 style="text-align:center;">	
						<%= link_to 'Click here to start tracking your kegs today!'.html_safe, :public_join_index %>
					</h2>
				</td>
				<td> 
					<div style="padding:10px; background:#333;">
						<%= image_tag('kegimage.png', :style => 'height:250px') %>
					</div>					
				</td>
			</tr>
		</table>

-->
		<div class="seperator" style="height:10px">	</div>
		<div style="display:inline-block; clear:both; width:100%;">
		<table id="lower_table">
			<tr>
				<td> 
					<h1> What </h1>					
				</td>

				<td>  
					<h1> Why	</h1>
				</td>


				<td> 
					<h1>Who	</h1>
				</td>
			</tr>
			<tr>
				<td>	
					<p>
						Keg Tracker is something new and incredible for the Craft Brewer and Keg Leaser.  Keg Tracker takes complex technologies, like RFID tags and 2D Barcodes, and makes them simple and easy to use.  All you need to get started with the system is an iOS or Android device, an internet connection, and a computer - Mac or PC.
					</p>
				</td>
				<td>	
					<p>
						The revival of American Craft Beer and the values it represents - Dedication, Individualism, and Community - are simply things that make the world a better place. Simply put, we want to be a part of helping those ideals succeed by developing great tools to support your business.
					</p>

				</td>
				<td>	
					<p>	
						Brewery Apps develops tools for the Craft Beer industry with three things in mind - Simplicity, Scalability, and Affordability. Simplicity in deploying and using the system. Scalability in being able to meet and address the challenges Craft Brewers face. Affordability in being priced for your scale.
					</p>
				</td>
			</tr>
		</table>
	</div>

	<table style="width:100%; display:none;">
		<tbody>
			<tr>
				<td style="width:50%; text-align:left">	
					
				</td>
				<td rowspan="2" style="padding:0 10px"> 

						
				</td>
				<td style="width:50%; text-align:right">	
					
				</td>
			</tr>
			<tr>
				<td style="text-align:middle; vertical-align:top">	
				</td>
				<td style="text-align:middle; vertical-align:top">		
				</td>
			</tr>
		</tbody>
	</table>

		
	<div style="text-align:center; display:none;">
		<h1>
			Keg Tracking by Industry Folk for Industry Folk
		</h1>

		<p style="padding:0px">
			
		</p>
	</div>
</div>
<script>
$(document).ready(function(){ 
  	$('#find_keg_input').jqxInput({width: '100%', theme:'metro', height:25, disabled:true })
    jqxIntialize()
    $('.jqxButton').jqxButton({disabled:true})
})
</script>


