<div class="toolbar">	

</div>

<div class="full sidebar">
</div>
<div class="full display">
</div>
<br /><br /><br /><br /><br /><br />
<div id="simple_container" class="scanner" user="<%= current_user._id %>">
	<div class="scanner input_toggle_group left">	
		<h5> Auto Mode	</h5>
		<div id="toggle_auto_mode" class="flip_switch scanner">
		</div>
	</div>

	<% if current_user.entity.keg_tracker == 1 %>
	<div class="scanner input_toggle_group left">	
		<h5> Add to Invoice	</h5>
		<div id="toggle_invoice" class="flip_switch scanner">
		</div>
	</div>
	<% end %>
	<div class="scanner input_toggle_group left">	
		<h5> Correction	</h5>
		<div id="toggle_correction" class="flip_switch scanner">
		</div>
	</div>
	<div class="clear"></div>
	<div id="scan_light" class="right">
		<span style="font-size:30px;">
			Ready
		</span>							
	</div>
	
	<div class="left">
		<div class="scanner input_group left">
			<h2> Action </h2>
			<div id="handle_code" class="scanner dropdown">
			</div>
		</div>

		<div class="scanner input_group left">
			<h2> Network </h2>
			<div id="location_network_id" class="scanner dropdown">
			</div>
		</div>

		<div class="scanner input_group left">
			<h2> Location </h2>
			<div id="location_id" class="scanner dropdown">
			</div>
		</div>
		<div class="clear"></div>
		<div class="scanner input_group left">
			<h2> Asset Type </h2>
			<div id="asset_type_id" class="scanner dropdown">
			</div>
		</div>
		<div class="scanner input_group left">
			<h2> Product </h2>
			<div id="product_id" class="scanner dropdown">
			</div>
		</div>
		<div class="scanner input_group left">
			<h2> Batch Number </h2>
			
			<input id="batch_number" class="scanner" />
			
		</div>

	</div>

	<div id="scan_invoice" class="scanner">
	   	<input type="button" value="Export to Excel" id="excelExport" data-role="none" style="margin:0 0 0 0px;" class="scanner left hidden" />	   	

	   	<input type="button" value="Find/Create" id="find_invoice" data-role="none" style="margin:0 0 0 10px;" class="scanner right" />	   	
			<input type="text" id="invoice_number" data-role="none" class="scanner right" />       							
       	
		<div class="jqxGrid" class="scanner right"></div>
	</div>

	<div class="scanner left" style="margin:30px 0 10px 30px; width:100%;">
		<span style="float:left"> Connect barcode scanner to begin scanning. </span> <br />
		<%= text_field_tag :scan_input, '', {'data-role' => 'none'} %>
	</div>
	<div class="clear"></div>	
</div>
<div id="content-alert"> </div>

<script>
	$(document).ready(function(){
	    var theme = settings.theme;

// *********************
// Set up Invoice Grid
// *********************
		$('#scan_invoice').hide()
		var gridSettings = settings.jqxGridProperties
		gridSettings['height'] = 300
		gridSettings['columns'] = [
			{ text: 'Description', datafield: 'sku_description' },	
			{ text: 'Fullfilled', datafield: 'invoice_attached_asset_count', width:100 },	
			{ text: 'Quantity', datafield: 'quantity', width:100 },	
		],
		$(".jqxGrid").jqxGrid( gridSettings );		

		function get_invoice_details(){
			if($("#invoice_number").val().length > 0){
				$.ajax({
					url: location.href + '/find_invoice.json',	
					type: "POST",
					dataType : "JSON",		
					data:{invoice: {invoice_number: $("#invoice_number").val() }}
				}).done(function( data ) {	
					var source = {
							datatype : "JSON",
							localdata: data['invoice_details'],
							datafields: [
								{ name: 'sku_description' },
								{ name: 'invoice_attached_asset_count' },
								{ name: 'quantity', width:100 },
								{ name: 'invoice_detail_description', width:100 },							
							],				
						};
					$(".jqxGrid").jqxGrid({source:source});
				})	
			}
		}

		$("#invoice_number").jqxInput({ placeHolder: "Invoice #", height: 20, width: 150, theme: theme});
		
		$("#batch_number").jqxInput({ placeHolder: "Batch #", height: 23, width: 200, theme: theme, disabled:true});

		$("#find_invoice").jqxButton({height: 20, width: 80, theme: theme});		
		$("#find_invoice").click(function () {		

		});

// *********************
// Load Dropdowns
// *********************
		$(".scanner.dropdown").jqxDropDownList({
			displayMember: "html", 
			valueMember: "value", 
			width: 200, 
			height: 25, 
			theme: theme, 
			animationType: 'none',
		});
		
		// Blur to prevent scan changing dropdown value		
		$(".scanner.dropdown").bind('select', function (event) {			
			$(this).blur()
		})

// *********************
// Get Scanner Options
// *********************	
		$.ajax({
			url: location.href,
			type: "POST",
			dataType : "JSON",		
		}).done(function( data ) {				
			$('#handle_code').jqxDropDownList({source: data['handle_codes_auto_mode_on']});
		    $("#handle_code").bind('select', function (event) {
			    var args = event.args;
			    if (args) {
			        // index represents the item's index.                
			        var index = args.index;
			        var item = args.item;
			        // get item's label and value.
			        var label = item.label;
			        var value = item.value;
			    	if(value == 4){
						$('#product_id').jqxDropDownList({disabled: false});		    
						$('#batch_number').jqxInput({disabled:false});
						$('#asset_type_id').jqxDropDownList({disabled: false});		    		
			    	} else if(value == 3){
						$('#asset_type_id').jqxDropDownList({disabled: false});		    		
			    	} else {
			    		$('#product_id').jqxDropDownList({disabled: true});		    	
			    		$('#asset_type_id').jqxDropDownList({disabled: true});		    
			    		$('#batch_number').jqxInput({disabled:true});		
			    	}
			    }                        	        
		    });

			$('#asset_type_id').jqxDropDownList({source: data['asset_types'], disabled: true});
			$('#location_network_id').jqxDropDownList({source: data['location_networks']});
			$('#product_id').jqxDropDownList({source: data['products'], disabled: true});
		
		    $('.flip_switch.scanner').jqxSwitchButton({ height: 20, width: 75, theme: 'fresh', checked: false });
		    $('#toggle_auto_mode').jqxSwitchButton({checked: true});
			window.toggle_auto_mode = 1
		    window.toggle_correction = 0	

		    $("#location_network_id").bind('select', function (event) {
			    var args = event.args;
			    if (args) {
			        // index represents the item's index.                
			        var index = args.index;
			        var item = args.item;
			        // get item's label and value.
			        var label = item.label;
			        var value = item.value;
			    	$('#location_id').jqxDropDownList({source: data['locations_by_network'][value]});        
			    }                        	        
		    });
		// ********************	    
		// Invoice Toggle
		// ********************	
			$('#toggle_invoice').bind('checked', function (event) { 
				$('#scan_invoice').show()
				$(".jqxGrid").jqxGrid('render');
				window.toggle_invoice = 1
			}); 
			$('#toggle_invoice').bind('unchecked', function (event) { 
				$('#scan_invoice').hide()
				window.toggle_invoice = 0	
			}); 		
		// ********************	    
		// Auto Mode Toggle
		// ********************	
			$('#toggle_auto_mode').bind('checked', function (event) { 
				$('#handle_code').jqxDropDownList({source: data['handle_codes_auto_mode_on']});
				window.toggle_auto_mode = 1
			}); 
			$('#toggle_auto_mode').bind('unchecked', function (event) { 
				$('#handle_code').jqxDropDownList({source: data['handle_codes_auto_mode_off']});		
				window.toggle_auto_mode = 0	

			}); 

		// ********************
		// Correction Toggle
		// ********************	
			$('#toggle_correction').bind('checked', function (event) { 
				window.toggle_correction = 1

			}); 
			$('#toggle_correction').bind('unchecked', function (event) { 
				window.toggle_correction = 0

			}); 
			$('#simple_container').jqxValidator({
			 	rules: [
			 		// Email Rules
			        { input: '#scan_input', message: 'Scan Required', action: 'keyup, blur', rule: 'required' },
			        // First/Last Name

			        { input: '#location_id', message: 'Location Required!', action: 'keyup, blur',rule: function(input, commit){		        		            
				            if (  $("#location_id").jqxDropDownList('getSelectedItem') != null) {
				                return true;		                
				            }
				           	return false;		           
			        	}
			        },
			        { input: '#location_network_id', message: 'Network Required!', action: 'keyup, blur',rule: function(input, commit){
				            if (  $("#location_network_id").jqxDropDownList('getSelectedItem') != null) {
				                return true;		                
				            }
				           	return false;		           
			        	}
			        },

			        { input: '#handle_code', message: 'Action Required!', action: 'keyup, blur',rule: function(input, commit){
				            if (  $("#handle_code").jqxDropDownList('getSelectedItem') != null) {
				                return true;		                
				            }
				           	return false;		           
			        	}
			        },
			        { input: '#product_id', message: 'Product Required!', action: 'keyup, blur',rule: function(input, commit){
				            if (  $("#handle_code").jqxDropDownList('getSelectedItem') != null) {
				                if (  $("#handle_code").jqxDropDownList('getSelectedItem').value == 4 ) {
				                	if( $("#product_id").jqxDropDownList('getSelectedItem') != null){			                		
				                		return true;
				                	} else { return false; }
				            	} else {return true;}			           	
			        		}
			        	}
			        },	        
			        { input: '#asset_type_id', message: 'Asset Type Required!', action: 'keyup, blur',rule: function(input, commit) {
				            if (  $("#handle_code").jqxDropDownList('getSelectedItem') != null) {
				            	var hc =  $("#handle_code").jqxDropDownList('getSelectedItem').value

				                if (  hc == 4 || hc == 3 ) {
					                if (  $("#asset_type_id").jqxDropDownList('getSelectedItem') != null){
					                	return true;
					                } else { return false;}		                
					            } else {return true;}
							} 
			        	}
			        },
			        { input: '#invoice_number', message: 'Invoice # Required!', action: 'keyup, blur',rule: function(input, commit) {			            			            
				            if(window.toggle_invoice == 1 ){			            	
				                if (  $("#invoice_number").val().length > 0){
				                	return true;
				                } else { return false; }		                
							}
							return true;  
			        	}
			        }	 		        	 

				],
				theme: theme
			});
			 
		});

		$("#scan_input").jqxInput({placeHolder: "Scan Barcode...", height: 25, minLength: 1, theme: theme });	

		/* SCAN SUBMIT */
		pgFunc = {};		// clear page function
		var	params = {};		// Default scan options
		params.scanner = {};		
		pgFunc = {
			scanSubmit : function(obj){		
				var scan = {};
				
				function IsJsonString(str) {
					try {
						if(typeof jQuery.parseJSON(obj)	== 'object'){
							return true;
						} else {
							return false;
						}
					} catch (e) {
						return false;
					}
					return true;
				}			
				// VALIDATE
				if( $('#simple_container').jqxValidator('validate')	){
					// Check if T2 Format
					if((obj.split("-").length - 1) == 4 ){
						obj = JSON.stringify(obj.split("-"))
	//					alert(obj);
					// Check if JSON
					}
					if( IsJsonString(obj) ){
						 var tag = jQuery.parseJSON(obj);					 
						 console.log('Valid JSON: ' + tag);         
					// Check if Double Scan
					} else if(
						((obj.split("{").length - 1) > 0 && (obj.split("}").length - 1) == 0 ) ||
						((obj.split("}").length - 1) > 0 && (obj.split("{").length - 1) == 0 ) ||				
						((obj.split("[").length - 1) > 0 && (obj.split("]").length - 1) == 0 ) ||				
						((obj.split("]").length - 1) > 0 && (obj.split("[").length - 1) == 0 ) || 
						((obj.split("]").length - 1) >= 1 && (obj.split("[").length - 1) >= 1 ) || 				
						((obj.split("}").length - 1) >= 1 && (obj.split("{").length - 1) >= 1 ) 
					) {
						// DOUBLE SCAN FOUND - FAIL
						$('#scan_input').val("");							
						$('#scan_light').css('background', '#FF0000');
						$('#scan_light span').html('FAIL');
						
						<% beep = asset_path 'beep-3.mp3' %>
						$('#content-alert').html('<audio autoplay="autoplay"> <source src="<%= beep %>" type="audio/mp3" /> </audio>');
						
						$('#slot_1').html('');
						$('#slot_2').html('');
						$('#slot_3').html('');
						$('#slot_4').html('');
						
						return false
						// STRING SCAN - PIECE TAG TOGETHER
					} else {				
						console.log('scan not valid json: ' + obj);                     
						var tag = {};
						tag.N;
						tag.V = obj;
						tag.K = 0;
						tag.M = 3;			
					}			
					scan.tag = tag;
					
					scan.user_id = $('#simple_container').attr('user');

					scan.location_id = $('#location_id').jqxDropDownList('getSelectedItem').value;
					scan.handle_code = $('#handle_code').jqxDropDownList('getSelectedItem').value;
					
					scan.auto_mode = window.toggle_auto_mode;
					scan.correction = window.toggle_correction;
					
					scan.version = "s1";

					if($("#invoice_number").val().length > 0){
						scan.invoice_number = $("#invoice_number").val()
					}

					if($('#handle_code').jqxDropDownList('getSelectedItem').value == 4){
						scan.product_id = $('#product_id').jqxDropDownList('getSelectedItem').value;	
						scan.asset_type_id = $('#asset_type_id').jqxDropDownList('getSelectedItem').value;			

						if($("#batch_number").val().length > 0){
							scan.batch_number = $("#batch_number").val()
						}
					}
					
					scan.time = + new Date / 1000;
					var url = system.server + '/scanners/barcode/scan.json';				
					$('#scan_input').val("");									
					$.ajax({
						   url: url,	
						   type: "POST",
						   data: { scan : JSON.stringify(scan) },				   
						   dataType: "JSON",
						   success: function( data ){ 				   		
								// Update Recents table
								for (var i=0; i < data.length; i++){
									var tag = data[i];
									var d = new Date();							
		/*							$('#scanAlerts').dataTable().fnAddData( [
										d.toLocaleTimeString(),
										tag.Network, 
										tag.Value, 
										tag.Location, 
										tag.Brewery,
										tag.Product,
										tag.Fill,
										tag.Size, 
										tag.Action
									] );		
		*/											
									$('#slot_1').html(tag.Location);
									$('#slot_2').html(tag.Action);
									$('#slot_3').html(tag.Product);
									$('#slot_4').html(tag.Size);
									
									<% beep = asset_path 'beep-2.mp3' %>
									$('#content-alert').html('<audio autoplay="autoplay"> <source src="<%= beep %>" type="audio/mp3" /> </audio>');
									$('#scan_light').css('background', '#00FF00')
									$('#scan_light span').html('SUCCESS')
									get_invoice_details()
			
			
								};
						   },
						   error: function( data ){					
								$('#slot_1').html('');
								$('#slot_2').html('');
								$('#slot_3').html('');
								$('#slot_4').html('');
							
								$('#scan_input').val("");
								$('#scan_light').css('background', '#FF0000')
								$('#scan_light span').html('FAIL')

								<% beep = asset_path 'beep-3.mp3' %>
								$('#content-alert').html('<audio autoplay="autoplay"> <source src="<%= beep %>" type="audio/mp3" /> </audio>');
						   
								console.log('Connection Failed');
								console.log(JSON.stringify(data));
						   }
					}); 	
				} else {
					$('#scan_input').val("");
					$('#scan_light').css('background', '#FF0000')
					$('#scan_light span').html('FAIL')

					<% beep = asset_path 'beep-3.mp3' %>
					$('#content-alert').html('<audio autoplay="autoplay"> <source src="<%= beep %>" type="audio/mp3" /> </audio>');

				}
			}			
		};


	//	pgFunc.change_handle_code();
		
		// *****************************
		// Key Listener & Click Lock
		// *****************************
		function scanner_on(){
			$(document).unbind('keydown');	// Unbinding incase previously bound to prevent multiple sends
			$(document).keydown(function(event) {								
				$('#scan_input').focus();
				console.log('scanned: ' + event.keyCode);
				if(event.keyCode == '13'){
					event.preventDefault();	
					pgFunc.scanSubmit($('#scan_input').val());
				}
			});	
		}

		function scanner_off(){
			$(document).unbind('keydown');
			$(document).keydown(function(event) {				
				if(event.keyCode == '13'){
					$(':focus').blur()
				}
			});			
		}

		$('#batch_number').focus(function() {
			scanner_off();		
		});
		
		$('#batch_number').blur(function() {
			scanner_on();		
			get_invoice_details()
		});


		$('#invoice_number').focus(function() {
			scanner_off();		
		});
		
		$('#invoice_number').blur(function() {
			scanner_on();		
			get_invoice_details()
		});
		scanner_on();
	});
</script>








