<!DOCTYPE html>
<html>
<head>
  <title>BreweryApps</title>
  <%= stylesheet_link_tag    "web_app_manifest"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=960, user-scalable=yes" />   
</head>
<body> 
	<div class="<%= 'popup popup_' + params[:action].to_s %>" data-url="<%= request.path %>">	
		<div id="content" class="popup" data-role="content" style="margin:0px; padding:0px; position:relative;">			
		<!-- Main Content -->	
		
			<%= yield %>												
		</div>
	</div>
</body>
</html>
<script>
	$(document).ready(function(){
		<% if params[:action].to_s == 'new' %>
			new_popup()
		<% elsif params[:action].to_s == 'edit' %>
			edit_popup()
		<% elsif params[:action].to_s == 'show' %>
			show_popup()
		<% end %>
	})
</script>
