<!DOCTYPE html>
<html>
<head>
  <title>CraftNet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

    <meta name="viewport" content="width=960, user-scalable=yes" />   
</head>
<body> 
	<div data-role="page" data-cache="never" id="<%= 'popup_' + params[:action].to_s %>" data-url="<%= request.path %>">		
		<div id="content" data-role="content" style="position:relative; padding-bottom:40px; top:10px;">			
		<!-- Main Content -->	
			<%= yield %>												
		</div>
	</div>
</body>
</html>
