<!DOCTYPE html>
<html>
<head>
  <title>Brewery Apps</title>
  <%= stylesheet_link_tag "public_manifest"  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-40327307-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>	

    <meta name="viewport" content="width=960, user-scalable=yes" />
</head>
<body data-role="none"> 
	<div id="header">	
		<%= link_to 'Log in', new_user_session_path %> 
	</div>	
	<div id="container">

	<!-- Main Content -->	
		<%= yield %>						
	</div>
	<div id="footer">
		<table>
			<tbody>
				<tr>						
					<td>	
						<%= link_to image_tag("public_home_icon.png"), :public_home %> 
						<h5> Home	</h5>
					</td>
					<td>								
						<%= link_to image_tag("abouticon.png"), :public_about_keg_tracker %>							
						<h5> FAQ	</h5>
					</td>

					<td>
						<%= link_to image_tag("products_icon.png"), :public_products %>
						<h5> Products	</h5>
					</td>

					<td>	
						<%= link_to image_tag("playicon.png"), new_user_session_path %>
						<h5> Demo	</h5>
					</td>

					<td>	
						<%= link_to image_tag("join_icon.png"), :public_join_index %> 							
						<h5> Sign Up	</h5>
					</td>

				</tr>
			</tbody>
		</table>		
	</div>
</body>
</html>
