<!DOCTYPE html>
<html>
<head>
  <title>Brewery Apps</title>
  <%= stylesheet_link_tag "public_manifest"  %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "public" %>
  <%= csrf_meta_tags %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-40327307-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>	

    <meta name="viewport" content="width=980, user-scalable=yes" />
</head>
<body data-role="none"> 
	<%= display_menu %>

	<div id="container">

	<!-- Main Content Public -->	
		<%= yield %>						
	</div>
	<div id="footer" style="position:fixed; bottom:0px">
		<span style="float:left; padding:0px 0px 0px 10px"> Brewery Apps</span>
		<span style="float:right; padding: 0px 10px 0px 0px"> Black Stag Solutions, LLC </span>
	</div>
</body>
</html>
