<!DOCTYPE html>
<html>
	<head>
	  <title>Brewery Apps</title>
	  <%= stylesheet_link_tag    "web_app_manifest"%>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-40327307-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>	  

	    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	    <script type="text/javascript">
	      // Load the Visualization API and the piechart package.
			google.load('visualization', '1.0', {'packages':['corechart', 'table', 'controls']});
	//		google.setOnLoadCallback(drawChart);
	    </script>
	    <meta name="viewport" content="width=960, user-scalable=yes" />   
	</head>










	<body style="display:none"> 
		<%= web_app_menu %>
		<div id="content">
		<!-- Main Content -->	
			 <%= yield %>
		</div>

		<div id="footer" style="position:fixed; bottom:0px">
			<span style="float:left; padding:0px 0px 0px 10px"> Brewery Apps</span>
			<span style="float:right; padding: 0px 10px 0px 0px"> Black Stag Solutions, LLC </span>
		</div>

		<!-- JQX Modal Window --> 	
		<div class="jqxWindow" style="display:none">
			<div class="jqxWindowTitle">	
				<span class="jqxWindowTitleText">
					<br />	
				</span>
			</div>
			<div class="jqxWindowContent" style="background:#FFF">		
	<!--		
				<div class="jqxWindowIFrame">
				</div>
	-->				
				<iframe width="100%" height="99%" src="" class="jqxWindowIFrame"> </iframe>

			</div>
		</div>
	</body>
</html>








